<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hospital</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.ly.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Member_add</display-name>
    <servlet-name>Member_add</servlet-name>
    <servlet-class>cn.ly.servlet.Member_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Member_add</servlet-name>
    <url-pattern>/Member_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberDel</display-name>
    <servlet-name>MemberDel</servlet-name>
    <servlet-class>cn.ly.servlet.MemberDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberDel</servlet-name>
    <url-pattern>/MemberDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberEdit</display-name>
    <servlet-name>MemberEdit</servlet-name>
    <servlet-class>cn.ly.servlet.MemberEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberEdit</servlet-name>
    <url-pattern>/MemberEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberFind</display-name>
    <servlet-name>MemberFind</servlet-name>
    <servlet-class>cn.ly.servlet.MemberFind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberFind</servlet-name>
    <url-pattern>/MemberFind</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>cn.ly.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.ly.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePage</display-name>
    <servlet-name>ChangePage</servlet-name>
    <servlet-class>cn.ly.servlet.ChangePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePage</servlet-name>
    <url-pattern>/ChangePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDoctorServlet</display-name>
    <servlet-name>addDoctorServlet</servlet-name>
    <servlet-class>cn.ly.servlet.addDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDoctorServlet</servlet-name>
    <url-pattern>/addDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delDoctorServlet</display-name>
    <servlet-name>delDoctorServlet</servlet-name>
    <servlet-class>cn.ly.servlet.delDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delDoctorServlet</servlet-name>
    <url-pattern>/delDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editDoctorServlet</display-name>
    <servlet-name>editDoctorServlet</servlet-name>
    <servlet-class>cn.ly.servlet.editDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editDoctorServlet</servlet-name>
    <url-pattern>/editDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>cn.ly.servlet.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findDoctorServlet</display-name>
    <servlet-name>findDoctorServlet</servlet-name>
    <servlet-class>cn.ly.servlet.findDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findDoctorServlet</servlet-name>
    <url-pattern>/findDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addMedicinalServlet</display-name>
    <servlet-name>addMedicinalServlet</servlet-name>
    <servlet-class>cn.ly.servlet.addMedicinalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMedicinalServlet</servlet-name>
    <url-pattern>/addMedicinalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findMedicinalServlet</display-name>
    <servlet-name>findMedicinalServlet</servlet-name>
    <servlet-class>cn.ly.servlet.findMedicinalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findMedicinalServlet</servlet-name>
    <url-pattern>/findMedicinalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delMedicinalServlet</display-name>
    <servlet-name>delMedicinalServlet</servlet-name>
    <servlet-class>cn.ly.servlet.delMedicinalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delMedicinalServlet</servlet-name>
    <url-pattern>/delMedicinalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editmedicinalServlet</display-name>
    <servlet-name>editmedicinalServlet</servlet-name>
    <servlet-class>cn.ly.servlet.editmedicinalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editmedicinalServlet</servlet-name>
    <url-pattern>/editmedicinalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registrationServlet</display-name>
    <servlet-name>registrationServlet</servlet-name>
    <servlet-class>cn.ly.servlet.registrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationServlet</servlet-name>
    <url-pattern>/registrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>patientServlet</display-name>
    <servlet-name>patientServlet</servlet-name>
    <servlet-class>cn.ly.servlet.patientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>patientServlet</servlet-name>
    <url-pattern>/patientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>prescriptionServlet</display-name>
    <servlet-name>prescriptionServlet</servlet-name>
    <servlet-class>cn.ly.servlet.prescriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prescriptionServlet</servlet-name>
    <url-pattern>/prescriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrescriptionServlet</display-name>
    <servlet-name>PrescriptionServlet</servlet-name>
    <servlet-class>cn.ly.servlet.PrescriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrescriptionServlet</servlet-name>
    <url-pattern>/PrescriptionServlet</url-pattern>
  </servlet-mapping>
</web-app>